<h1>
    {{title}}
</h1>
<div>
    <form action="" method="POST">
        <div class="item-row">
            <div class="item-label"><label for="card-number">Карта номер</label></div>
            <div class="item-value"><input type="text" name="cardnumber" id="card-number" value="{{cardNumber}}"></div>
        </div>
        <div class="item-row">
            <div class="item-label"><label for="stamp-number">Талон номер</label></div>
            <div class="item-value"><input type="text" name="stampnumber" id="stamp-number"></div>
        </div>
        <div class="item-row">
            <input type="submit" name="" value="Въведи">
        </div>
    </form>
    <a href="/register">Регистрация</a>
</div>
